@font-face {
    font-family: Scratch;
    src: url("https://cdn.assets.scratch.mit.edu/internalapi/asset/78c17b2d3ef16383295e77f3755356a3.ttf/get/");
}

* {
    font-family: Scratch;
    text-shadow: 2px 2px #000000;
    color: #ffffff;
    text-align: center;
}

body {
    background-image: url("../img/background.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: center bottom;
    margin: 0px;
    overflow: hidden;
}

#Container {
    width: fit-content;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Background {
    width: 75%;
    min-width: fit-content;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#Title {
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Scroll {
    overflow: auto;
    width: 100%;
    height: 100%;
    margin-top: -100vh;
}

button {
    font-size: 20px;
    background: none;
    border: none;
    text-shadow: none;
    cursor: pointer;
}

a {
    text-shadow: none;
    color: #1aa0d8;
    cursor: pointer;
    text-decoration: underline;
}

iframe {
    border: none;
    border-radius: 25px;
    resize: both;
}

a.logo {
    display: inline-block;
    width: fit-content;
    height: 30px;
}

a.logo img {
    height: 95%;
}

#menuBarContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0px;
}

#menuBar {
    width: 640px;
    height: 80px;
    background-image: url("../img/MenuBarBg.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuBar table {
    table-layout: fixed;
    width: 100%;
}

#menuBar table th {
    text-align: center;
}

#scroll::-webkit-scrollbar {
    width: 20px;
}

#scrollContainer {
    position: relative;
}

.scrollbar {
    pointer-events: none;
    width: 20px;
    height: 100%;
    position: sticky;
    top: 0;
    left: calc(100% - 20px);
    right: 0;
    display: flex;
    flex-direction: column;
}
.scrollbar-top, .scrollbar-bottom {
    flex: 0 0 auto;
    image-rendering: pixelated;
}
.scrollbar-middle {
    flex: 1 1 auto;
    image-rendering: pixelated;
}
.scrollbar-thumb {
    width: 20px;
    height: 100%;
    position: absolute;
    top: 4px;
    display: flex;
    flex-direction: column;
}
.scrollbar-thumb-top, .scrollbar-thumb-bottom {
    flex: 0 0 auto;
    image-rendering: pixelated;
}
.scrollbar-thumb-middle {
    flex: 1 1 auto;
    image-rendering: pixelated;
}