* {
    text-align: center;
    font-family: monospace;
}
body {
    position: relative;
    background: #000;
}
body, h1, h2, h3, h4, h5, h6, a {
    color: #00ff00;
}
#share {
    height: fit-content;
    text-align: bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}
.inline {
    width: fit-content;
    height: fit-content;
    display: inline-block;
}
.scratch {
    color: #4d97ff;
}
.turbowarp {
    color: #ff4d4d;
}
div.broken, div.broken * {
    color: red;
}
a.broken {
    color: red;
    text-decoration: line-through;
}