body {
    background: #000;
    color: #ffffff;
    font-family: sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

:root,
body.is-fullscreen {
    background-color: #000000;
}

[hidden] {
    display: none !important;
}

h1 {
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

#app,
#loading,
#error,
#launch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    background-color: #000000;
}

#launch {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.green-flag {
    width: 80px;
    height: 80px;
    padding: 16px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.75);
    border: 3px solid hsla(0, 100%, 100%, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#loading {}

.progress-bar-outer {
    border: 1px solid currentColor;
    height: 10px;
    width: 200px;
    max-width: 200px;
}

.progress-bar-inner {
    height: 100%;
    width: 0;
    background-color: currentColor;
}

.loading-text,
noscript {
    font-weight: normal;
    font-size: 36px;
    margin: 0 0 16px;
}

.loading-image {
    margin: 0 0 16px;
}

#error-message,
#error-stack {
    font-family: monospace;
    max-width: 600px;
    white-space: pre-wrap;
    user-select: text;
    -webkit-user-select: text;
}

#error-stack {
    text-align: left;
    max-height: 200px;
    overflow: auto;
}

.control-button {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
}

.control-button-highlight:hover {
    background: #855cd626;
}

.control-button-highlight.active {
    background: #855cd659;
}

.fullscreen-button {
    background: white;
}

.standalone-fullscreen-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 0 4px;
    padding: 4px;
    cursor: pointer;
}

.sc-canvas {
    cursor: auto;
}

.sc-monitor-root[data-opcode^="data_"] .sc-monitor-value-color {
    background-color: #ff8c1a;
}

.sc-monitor-row-value-outer {
    background-color: #fc662c;
}

.sc-monitor-row-value-editing .sc-monitor-row-value-outer {
    background-color: #e25b27;
}